@{
	ViewData["Title"] = "Home Page";
}

@model OAuth2TestTool.MVC.Models.AuthorizationViewModel

<h1>OAuth2 Authentication Testing Tool</h1>

<div class="panel panel-primary">

	<div class="panel-heading">Authorization Code</div>
	<div class="panel-body">

		<form asp-controller="Home" asp-action="GetAuthorizationCode">
			<fieldset>
				<div class="form-group">
					@Html.Label("Authorization Endpoint")
					@Html.TextBoxFor(m => m.AuthorizationEndpoint, "", htmlAttributes: new { @class = "form-control", id = "AuthorizationEndpoint", placeholder = "e.g. https://auth.brightspace.com/oauth2/auth" })
				</div>
				<div class="form-group">
					@Html.Label("Redirect URI")
					@Html.TextBoxFor(m => m.RedirectURI, "", htmlAttributes: new { @class = "form-control", id = "RedirectURI", @readonly = "readonly" })
				</div>
				<div class="form-group">
					@Html.Label("Client ID")
					@Html.TextBoxFor(m => m.ClientId, "", htmlAttributes: new { @class = "form-control", id = "ClientId" })
				</div>
				<div class="form-group">
					@Html.Label("Scope")
					@Html.TextBoxFor(m => m.Scope, "", htmlAttributes: new { @class = "form-control", id = "Scope" })
				</div>
				<div class="form-group">
					@Html.Label("State")
					@Html.TextBoxFor(m => m.State, "", htmlAttributes: new { @class = "form-control", id = "State" })
				</div>
				<input type="submit" class="btn btn-lg btn-primary" value="Get Authorization Code" />
			</fieldset>
		</form>
		<br />

				<p>
					If a user is not aready signed into the provider in this browser, you will be prompted for credentials, then the provider will redirect back to this page (i.e. the redirect uri) along with the
					<strong>authorization code</strong> in the request URL.
				</p>
		<br />
		<h4>Authorization Code</h4>
		<pre>@ViewData["code"]</pre>

	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">Access (and Refresh) Token via Authorization Code</div>
	<div class="panel-body">

		<form asp-controller="Home" asp-action="ExchangeCodeForTokens"
			  data-ajax="true"
			  data-ajax-method="POST"
			  data-ajax-mode="replace"
			  data-ajax-update="#content"
			  data-ajax-success="Success"
			  data-ajax-failure="Failure"
			  >
			<fieldset>
				<div class="form-group">
					@Html.Label("Token Endpoint")
					@Html.TextBoxFor(m => m.TokenEndpoint, "", htmlAttributes: new { @class = "form-control", id = "TokenEndpoint", placeholder = "e.g. https://auth.brightspace.com/core/connect/token" })
				</div>
				<div class="form-group">
					@Html.Label("Redirect URI")
					@Html.TextBoxFor(m => m.RedirectURI, "", htmlAttributes: new { @class = "form-control", id = "RedirectURI", @readonly = "readonly" })
				</div>
				<div class="form-group">
					@Html.Label("Client ID")
					@Html.TextBoxFor(m => m.ClientId, "", htmlAttributes: new { @class = "form-control", id = "ClientId" })
				</div>
				<div class="form-group">
					@Html.Label("Client Secret")
					@Html.TextBoxFor(m => m.ClientSecret, "", htmlAttributes: new { @class = "form-control", id = "ClientSecret" })
				</div>
				<div class="form-group">
					@Html.Label("Authorization Code")
					@Html.TextBoxFor(m => m.AuthorizationCode, "", htmlAttributes: new { @class = "form-control", id = "State" })
				</div>
				<input type="submit" class="btn btn-lg btn-primary" value="Trade In Authorization Code" />
			</fieldset>
		</form>

		<div id="content">

		</div>

		@*<button id="getTokenButton" class="btn btn-lg btn-primary">Trade In Authorization Code</button>*@
		<div>
			<strong>Access Token</strong>
			<pre id="accessToken">@Model.AccessToken</pre>
		</div>
		<div>
			<strong>Refresh Token</strong>
			<pre id="refreshToken">@Model.RefreshToken</pre>
		</div>
		<div>
			<strong>Raw Response</strong>
			<pre id="tokenResponse"></pre>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">Access (and Refresh) Token via Refresh Token</div>
	<div class="panel-body">
		<button id="tradeRefreshTokenButton" class="btn btn-lg btn-primary">Trade In Refresh Token Code</button>
		<div>
			<strong>Access Token</strong>
			<pre id="accessToken2"></pre>
		</div>
		<div>
			<strong>Refresh Token</strong>
			<pre id="refreshToken2"></pre>
		</div>
		<div>
			<strong>Raw Response</strong>
			<pre id="tokenResponse2"></pre>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">Call the <strong>whoami</strong> API Endpoint</div>
	<div class="panel-body">
		<button class="btn btn-lg btn-primary">Send GET Request</button>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {

			$('#getTokenButton').click(function () {
				var url = '@Url.Action("ExchangeCodeForTokens", "Home")';
				//var keyWord = $('#Keyword').val();
				//$('#tokenResponse').load(url + '?code=' + '@ViewData["code"]');

				$.getJSON('@Url.Action("ExchangeCodeForTokens", "Home")' + '?code=' + '@ViewData["code"]', function (tokenResponse) {
					$('#accessToken').text(tokenResponse.access_token);
					$('#refreshToken').text(tokenResponse.refresh_token);
					$('#tokenResponse').text(JSON.stringify(tokenResponse));
				});
			});

			$('#tradeRefreshTokenButton').click(function () {
				$('#tokenResponse').load(url + '?code=' + '@ViewData["code"]');
			});
		});
	</script>
}

<div class="panel panel-danger">
	<div class="panel-heading">
		Disclaimer
	</div>
	<div class="panel-body">
		AS IS . This does not automagically generate reports!
	</div>
</div>

<style>
	pre {
		white-space: normal;
	}
</style>