@{
	ViewData["Title"] = "Home Page";
}

@model OAuth2TestTool.MVC.Models.AuthorizationViewModel

<h1>OAuth2 Authentication Testing Tool</h1>
<p></p>
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-default">Clear Codes / Tokens</button>
		<button class="btn btn-danger">Clear Cookies</button>
	</div>
</div>
<hr />
<div class="panel panel-primary">

	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#authorization-code" aria-expanded="true">Authorization Code</a>
		</h4>
	</div>
	<div id="authorization-code" class="panel-collapse collapse">
		<div class="panel-body">

			<form asp-controller="Home" asp-action="GetAuthorizationCode">
				<fieldset>
					<div class="form-group">
						@Html.Label("Authorization Endpoint")
						@Html.TextBoxFor(m => m.AuthorizationEndpoint, "", htmlAttributes: new { @class = "form-control", id = "AuthorizationEndpoint", placeholder = "e.g. https://auth.brightspace.com/oauth2/auth" })
					</div>
					<div class="form-group">
						@Html.Label("Redirect URI")
						@Html.TextBoxFor(m => m.RedirectURI, "", htmlAttributes: new { @class = "form-control", id = "RedirectURI", @readonly = "readonly" })
					</div>
					<div class="form-group">
						@Html.Label("Client ID")
						@Html.TextBoxFor(m => m.ClientId, "", htmlAttributes: new { @class = "form-control", id = "ClientId" })
					</div>
					<div class="form-group">
						@Html.Label("Scope")
						@Html.TextBoxFor(m => m.Scope, "", htmlAttributes: new { @class = "form-control", id = "Scope" })
					</div>
					<div class="form-group">
						@Html.Label("State")
						@Html.TextBoxFor(m => m.State, "", htmlAttributes: new { @class = "form-control", id = "State" })
					</div>
					<input type="submit" class="btn btn-lg btn-primary" value="Get Authorization Code" />
				</fieldset>
			</form>
			<br />

			<p>
				If a user is not aready signed into the provider in this browser, you will be prompted for credentials, then the provider will redirect back to this page (i.e. the redirect uri) along with the
				<strong>authorization code</strong> in the request URL.
			</p>
			<br />
			<h4>Authorization Code</h4>
			<pre>@Model.AuthorizationCode</pre>

		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#trade-access-token" aria-expanded="true">Access (and Refresh) Token via Authorization Code</a>
		</h4>
	</div>
	<div id="trade-access-token" class="panel-collapse collapse">
		<div class="panel-body">

			<form asp-controller="Home" asp-action="GetTokens" method="POST"
				  data-ajax="true"
				  data-ajax-method="POST"
				  data-ajax-mode="replace"
				  data-ajax-update="#get-tokens-response"
				  data-ajax-loading="#tokens-loading"
				  data-ajax-success="Success"
				  data-ajax-failure="Failure">
				<fieldset>
					<div class="form-group">
						@Html.Label("Token Endpoint")
						@Html.TextBoxFor(m => m.TokenEndpoint, "", htmlAttributes: new { @class = "form-control", id = "TokenEndpoint", placeholder = "e.g. https://auth.brightspace.com/core/connect/token" })
					</div>
					<div class="form-group">
						@Html.Label("Redirect URI")
						@Html.TextBoxFor(m => m.RedirectURI, "", htmlAttributes: new { @class = "form-control", id = "RedirectURI", @readonly = "readonly" })
					</div>
					<div class="form-group">
						@Html.Label("Client ID")
						@Html.TextBoxFor(m => m.ClientId, "", htmlAttributes: new { @class = "form-control", id = "ClientId" })
					</div>
					<div class="form-group">
						@Html.Label("Client Secret")
						@Html.TextBoxFor(m => m.ClientSecret, "", htmlAttributes: new { @class = "form-control", id = "ClientSecret" })
					</div>
					<div class="form-group">
						@Html.Label("Authorization Code")
						@Html.TextBoxFor(m => m.AuthorizationCode, "", htmlAttributes: new { @class = "form-control", id = "State" })
					</div>
					<input type="submit" class="btn btn-lg btn-primary" value="Trade In Authorization Code" />
				</fieldset>
			</form>
			<div id="tokens-loading" style="display:none;">Loading...</div>
			<div id="get-tokens-response"></div>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#trade-refresh-token" aria-expanded="true">Access (and Refresh) Token via Refresh Token</a>
		</h4>
	</div>
	<div id="trade-refresh-token" class="panel-collapse collapse">
		<div class="panel-body">

			<form asp-controller="Home" asp-action="RefreshTokens" method="POST"
				  data-ajax="true"
				  data-ajax-method="POST"
				  data-ajax-mode="replace"
				  data-ajax-update="#refresh-tokens-response"
				  data-ajax-loading="#refresh-tokens-loading"
				  data-ajax-success="Success"
				  data-ajax-failure="Failure">
				<fieldset>
					<div class="form-group">
						@Html.Label("Refresh Token Endpoint")
						@Html.TextBoxFor(m => m.RefreshTokenEndpoint, "", htmlAttributes: new { @class = "form-control", id = "RefreshTokenEndpoint", placeholder = "e.g. https://auth.brightspace.com/core/connect/token" })
					</div>
					<div class="form-group">
						@Html.Label("Client ID")
						@Html.TextBoxFor(m => m.ClientId, "", htmlAttributes: new { @class = "form-control", id = "ClientId" })
					</div>
					<div class="form-group">
						@Html.Label("Client Secret")
						@Html.TextBoxFor(m => m.ClientSecret, "", htmlAttributes: new { @class = "form-control", id = "ClientSecret" })
					</div>
					<div class="form-group">
						@Html.Label("Refresh Token")
						@Html.TextBoxFor(m => m.RefreshToken, "", htmlAttributes: new { @class = "form-control", id = "RefreshToken" })
					</div>
					<div class="form-group">
						@Html.Label("Scope")
						@Html.TextBoxFor(m => m.Scope, "", htmlAttributes: new { @class = "form-control", id = "Scope" })
					</div>
					<input type="submit" class="btn btn-lg btn-primary" value="Trade in Refresh Token" />
				</fieldset>
			</form>
			<div id="refresh-tokens-loading" style="display:none;">Loading...</div>
			<div id="refresh-tokens-response"></div>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#call-sample-endpoint" aria-expanded="true">Call the <strong>Sample</strong> API Endpoint</a>
		</h4>
	</div>
	<div id="call-sample-endpoint" class="panel-collapse collapse">
		<div class="panel-body">
			<button class="btn btn-lg btn-primary">Send GET Request</button>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {

			$('#getTokenButton').click(function () {
				var url = '@Url.Action("GetTokens", "Home")';
				//var keyWord = $('#Keyword').val();
				//$('#tokenResponse').load(url + '?code=' + '@ViewData["code"]');

				$.getJSON('@Url.Action("GetTokens", "Home")' + '?code=' + '@ViewData["code"]', function (tokenResponse) {
					$('#accessToken').text(tokenResponse.access_token);
					$('#refreshToken').text(tokenResponse.refresh_token);
					$('#tokenResponse').text(JSON.stringify(tokenResponse));
				});
			});

			$('#tradeRefreshTokenButton').click(function () {
				$('#tokenResponse').load(url + '?code=' + '@ViewData["code"]');
			});
		});

		function Success(data) {
			//$('#Name').val("");
			//$('#Age').val("")

		}
		function Failure() {

			//alert("Form Failed");
		}
	</script>
}

<div class="panel panel-danger">
	<div class="panel-heading">
		Disclaimer
	</div>
	<div class="panel-body">
		AS IS
	</div>
</div>

<style>
	pre {
		white-space: normal;
	}
</style>