@{
	ViewData["Title"] = "OAuth2TestTool";
}

@model OAuth2TestTool.MVC.Models.OAuth2ViewModel

<h1>OAuth2 Authentication Testing Tool</h1>
<p>Get the <code>authorization_code</code>, <code>access_token</code> and <code>refresh_token</code> for any registered OAuth2 client!</p>
<p>This site uses cookies. No values are persisted on the server (except potentially in web logs).</p>
<div class="row">
	<div class="col-md-12">
		@Html.ActionLink("Clear Codes / Tokens", "Index", "Home", new { clear = "true" }, new { @class = "btn btn-default" })
		@Html.ActionLink("Clear Cookies", "Index", "Home", new { reset = "true" }, new { @class = "btn btn-danger" })
	</div>
</div>
<hr />
@if (Model.ErrorMessage != null || !ViewData.ModelState.IsValid)
{
<div id="error-message" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	@Model.ErrorMessage
	@Html.ValidationSummary()
</div>
}
<div class="panel panel-primary">

	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#authorization-code" aria-expanded="true">Authorization Code</a>
		</h4>
	</div>
	<div id="authorization-code" class="panel-collapse collapse @(@Model.Focus == "auth-code" || Model.Focus == null ? "in" : "")">
		<div class="panel-body">
			<form asp-controller="Home" asp-action="GetAuthorizationCode">
				<fieldset>
					<div class="form-group">
						<label for="AuthorizationEndpoint">Authorization Endpoint</label>
						<input value="@Model.AuthorizationEndpoint" class="form-control" type="text" data-val="true" data-val-required="Authorization endpoint is required." name="AuthorizationEndpoint" placeholder="https://auth.example.com/oauth2/auth" />
						<span class="text-danger field-validation-field" data-valmsg-for="AuthorizationEndpoint" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="RedirectURI">Redirect URI</label>
						<input value="@Model.RedirectURI" type="text" class="form-control" name="RedirectURI" readonly />
					</div>
					<div class="form-group">
						<label for="ClientId">Client ID</label>
						<input value="@Model.ClientId" type="text" class="form-control" name="ClientId" data-val="true" data-val-required="Client ID is required." />
						<span class="text-danger field-validation-field" data-valmsg-for="ClientId" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="Scope">Scope</label>
						<input value="@Model.Scope" type="text" class="form-control" name="Scope" data-val="true" data-val-required="Scope is required." />
						<span class="text-danger field-validation-field" data-valmsg-for="Scope" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="State">State</label>
						<input value="@Model.State" type="text" name="State" class="form-control" data-val="true" data-val-required="State is required." />
						<span class="text-danger field-validation-field" data-valmsg-for="State" data-valmsg-replace="true"></span>
					</div>
					<input type="submit" class="btn btn-primary" value="Get Authorization Code" />
				</fieldset>
			</form>
			<br />

			<p>
				If a user is not aready signed into the provider in this browser, you will be prompted for credentials, then the provider will redirect back to this page (i.e. the redirect uri) along with the
				<strong>authorization code</strong> in the request URL.
			</p>
			<br />
			<h4>Authorization Code</h4>
			<pre>@Model.AuthorizationCode</pre>

		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#trade-access-token" aria-expanded="true">Access (and Refresh) Token via Authorization Code</a>
		</h4>
	</div>
	<div id="trade-access-token" class="panel-collapse collapse @(@Model.Focus == "user-tokens" ? "in" : "")">
		<div class="panel-body">

			<form asp-controller="Home" asp-action="GetTokens">
				<fieldset>
					<div class="form-group">
						<label for="TokenEndpoint">Token Endpoint</label>
						<input value="@Model.TokenEndpoint" type="text" class="form-control" name="TokenEndpoint" data-val="true" data-val-required="Token Endpoint is required." placeholder="https://auth.example.com/token" />
						<span class="text-danger field-validation-field" data-valmsg-for="TokenEndpoint" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="RedirectURI">Redirect URI</label>
						<input value="@Model.RedirectURI" type="text" class="form-control" name="RedirectURI" data-val="true" data-val-required="Redirect URI is required." readonly />
						<span class="text-danger field-validation-field" data-valmsg-for="RedirectURI" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="ClientId">Client ID</label>
						<input value="@Model.ClientId" type="text" class="form-control" name="ClientId" data-val="true" data-val-required="Client Id is required." />
						<span class="text-danger field-validation-field" data-valmsg-for="ClientId" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="ClientSecret">Client Secret</label>
						<input value="@Model.ClientSecret" type="text" class="form-control" name="ClientSecret" data-val="true" data-val-required="Client secret is required." />
						<span class="text-danger field-validation-field" data-valmsg-for="ClientSecret" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="AuthorizationCode">Authorization Code</label>
						<input value="@Model.AuthorizationCode" type="text" class="form-control" name="AuthorizationCode" data-val="true" data-val-required="Authorization code is required." />
						<span class="text-danger field-validation-field" data-valmsg-for="AuthorizationCode" data-valmsg-replace="true"></span>
					</div>
					<input type="submit" class="btn btn-primary" value="Trade In Authorization Code" />
				</fieldset>
			</form>

			<div id="get-tokens-response">
				<br />
				<div>
					<strong>Access Token</strong>
					<pre id="accessToken">@Model.AccessToken</pre>
				</div>
				<div>
					<strong>Refresh Token</strong>
					<pre id="refreshToken">@Model.RefreshToken</pre>
				</div>
				<div>
					<strong>Raw Response</strong>
					<pre id="tokenResponse">@Model.RawResponse</pre>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#trade-refresh-token" aria-expanded="true">Access (and Refresh) Token via Refresh Token</a>
		</h4>
	</div>
	<div id="trade-refresh-token" class="panel-collapse collapse @(@Model.Focus == "refresh-token" ? "in" : "")">
		<div class="panel-body">

			<form asp-controller="Home" asp-action="RefreshTokens">
				<fieldset>
					<div class="form-group">
						<label for="RefreshTokenEndpoint">Refresh Token Endpoint</label>
						<input value="@Model.RefreshTokenEndpoint" type="text" class="form-control" name="RefreshTokenEndpoint" data-val="true" data-val-required="Refresh Token is required." placeholder="https://auth.example.com/token" />
						<span class="text-danger field-validation-field" data-valmsg-for="RefreshTokenEndpoint" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="ClientId">Client ID</label>
						<input value="@Model.ClientId" type="text" class="form-control" name="ClientId" data-val="true" data-val-required="Client Id is required." />
						<span class="text-danger field-validation-field" data-valmsg-for="ClientId" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="ClientSecret">Client Secret</label>
						<input value="@Model.ClientSecret" type="text" class="form-control" name="ClientSecret" data-val="true" data-val-required="Client secret is required." />
						<span class="text-danger field-validation-field" data-valmsg-for="ClientSecret" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="RefreshToken">Refresh Token</label>
						<input value="@Model.RefreshToken" type="text" class="form-control" name="RefreshToken" data-val="true" data-val-required="Refresh Token is required." />
						<span class="text-danger field-validation-field" data-valmsg-for="RefreshToken" data-valmsg-replace="true"></span>
					</div>
					<div class="form-group">
						<label for="Scope">Scope</label>
						<input value="@Model.Scope" type="text" class="form-control" name="Scope" placeholder="Optional" />
					</div>
					<input type="submit" class="btn btn-primary" value="Trade in Refresh Token" />
				</fieldset>
			</form>
			<div id="refresh-tokens-response">
				<br />
				<div>
					<strong>Access Token</strong>
					<pre id="accessToken">@Model.AccessToken</pre>
				</div>
				<div>
					<strong>Refresh Token</strong>
					<pre id="refreshToken">@Model.RefreshToken</pre>
				</div>
				<div>
					<strong>Raw Response</strong>
					<pre id="tokenResponse">@Model.RawResponse</pre>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	pre {
		/* Prevent horizontal scrolling since access tokens can be very lengthy and contain no line breaks. */
		white-space: normal;
	}
</style>